
@{
    ViewBag.Title = "Đã hoàn thành bài thi";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Bạn đã hoàn thành bài thi này</h2>
    </div>
</div>



